.main-footer {
    padding: 10px 15%;
    background-image: url(../img/footer-bg.jpg);
    background-size: cover;
    display: flex;
    justify-content: space-between;

    .list {

        padding: 1rem;

        h3 {
            color: white;
        }


        ul {
            color: white;
            list-style-type: none;
            padding: 0;

            a {
                color: rgb(177, 177, 177);
                text-decoration: none;
            }
        }

    }


}

.menu-section {
    display: flex;
    flex-wrap: wrap;
}



.sub-footer {
    background-color: rgb(39, 39, 39);
    padding: 20px 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;


    .cta a {
        text-decoration: none;
        font-weight: 700;
        color: white;
        padding: 15px 20px;
        border: 2px solid rgb(0, 81, 255);
    }

    .social-links {

        h3 {
            color: rgb(0, 81, 255);
        }

    }


}