*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    background-image: url(../img/jumbotron.jpg);
    height: 400px;
}

.content {
    padding: 10% 15%;
    color: white;
    background-color: rgb(37, 37, 37);
    position: relative;

    .title{
        position: absolute;
        top: -35px;
        width: 300px;
        background-color: #0077ff;
        text-align: center;
        padding: 1rem 2rem;
    }

    .container {
        position: relative;
        
        .card{
            background-color: transparent;
            border: none;

            a{
                text-decoration: none;
                color: white;
                text-transform: uppercase;
            }
            p{
                color: white;
            }
        }
    
        img{
            width: 100px;
        }
    }
}


.sub_content{
    color: white;
    font-weight: 600;
    background-color: rgb(0, 119, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;

}


.items {
    padding: 0 2rem;    
    
    img{
        width: 50px;
        padding-right: 1rem;
    }
} 

    